<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Social network metas -->
        <meta name="author" content="@FikkriReza">
        <meta name="description" content="Kantor Urusan Agama Kecamatan Kepahiang">

        <meta property="og:url" content="http://kuakepahiang.herokuapp.com/">
        <meta property="og:title" content="<%= title %>">
        <meta property="og:description" content="Kantor Urusan Agama Kecamatan Kepahiang">

        <!-- Bootstrap CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- kua css -->
        <link rel="stylesheet" href="css/kua.css">

        <title><%= title %></title>
    </head>
    <body>
        <%- include('nav') %>

        <%- body %>

        <footer class="pt-3 pb-3">
            <div class="container">
                <p class="m-0">&copy; KUA Kec. Kepahiang 2022</p>
            </div>
        </footer>

        <script src="js/bootstrap.bundle.min.js"></script>
        <%- defineContent('js') %>
    </body>
</html>
